  .food-menu {
    text-align: left;
    display: flex;
    justify-content: space-around;
    margin: 1em;
  }
  
  .restaurant {
    margin-bottom: 0.3rem;
    margin-top: 0.8rem;
    text-transform: uppercase;
    color: #5e8c64;
  }
  .restaurant-title {
    text-align: left;
    width: 100%;
    font-size: 1.5em;
  }
  
  .foodCodes {
    font-weight: 800;
    font-size: 1em;
    margin-left: 5px;
    color: #5e8c64;
    vertical-align: middle;
  }
  
  #menu-title {
    margin-left: 33%;
    font-size: 1.2em;
    margin-bottom: 0.5rem;
    letter-spacing: 0.2rem;
  }