html {
  --background: rgb(244, 238, 231);
  --green: #5e8c64;
  --body: rgb(51, 51, 51);
  --white: #fff;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  font-size: max(16px, min(1.53vw, 2.72vh)); /* 1.53vw = 2.72vh = 29.376px at 1920 * 1080 px */
}

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background);
  height: 100%;
  width: 100%;
  position: relative;
}

#root {
  height: 100%;
}

header {
  background-color: var(--green);
  color: var(--white);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: .5em 2em;
  width: 100%;
  height: 5em;
}

header #time {
  font-size: 2.5rem;
  margin-left: .5em;
}

header #calendar {
  font-size: 1rem;
}

header #calendar>div> :last-child {
  font-weight: 700;
}

header>div {
  flex-shrink: 0;
}

#logos {
  overflow: hidden;
  flex-grow: 1;
  height: 3rem;
  margin-left: auto;
  position: relative;
}

#logos.fade-in {
  transition: opacity 1s ease-in-out;
}


#logos img {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 6rem;
  object-fit: contain;
}

@media screen and (max-width: 499px) {
  header {
    flex-wrap: wrap;
    justify-content: center;
    height: auto;
    padding: .5rem 0;
  }

  header #time {
    font-size: 2rem;
  }

  #logos {
    width: 100%;
  }
}

main {
  display: flex;
  grid-template-rows: 2fr 1fr;
  justify-content: space-between;
  flex-direction: column;
  height: calc(100% - 5rem);
}

section {
  display: grid;
  padding: 1rem;
}

section.active {
  opacity: 1;
}

#restaurants {
  grid-template-columns: 1fr 1fr 1fr;
}

#others {
  grid-template-columns: 3fr 2fr;
}

section > * {
  display: inline-flex;
  flex-direction: column;
  max-height: 100%;
  margin-bottom: 1rem;
}

@media screen and ((max-width: 699px) or (max-height: 599px)) {

  #restaurants,
  #others {
    grid-template-columns: 1fr;
  }

  #others > * {
    max-height: 10.8rem; /* Calculated height of three calendar rows */
  }
}

@media screen and ((min-width: 700px) and (min-height: 600px)) {
  .scrolling {
    overflow: hidden;
  }

  .scrolling .menu {
    transition: opacity 500ms ease-in-out;
  }

  main > section {
    overflow: hidden;
  }

  #others {
    height: 10.8rem;
    flex-shrink: 0;
  }
}


main > section > div {
  height: 100%;
  overflow: hidden;
  position: relative;
  padding-right: .5rem;
}

main > section > div > * {
  border-left: solid 0.1rem var(--green);
  padding-left: .5rem;
}

h2 {
  text-transform: uppercase;
  color: var(--green);
  font-size: 1rem;
  margin: 0;
}

h3 {
  font-weight: 400;
  font-size: .8em;
  text-transform: uppercase;
  margin: 0;
  margin-top: .75rem;
}

.opening-hours {
  padding-bottom: .5rem;
}

.opening-hours,
.event .meta {
  font-size: .8rem;
  font-weight: 300;
}

p {
  margin: .5em 0;
}

.properties {
  display: inline-block;
  font-size: .8em;
  color: var(--green);
  font-weight: 600;
}

.light {
  font-weight: 300;
}

.event {
  margin: .5em 0;
}

.event:last-of-type,
.menu> :last-child,
#shoutbox>div> :last-child {
  margin-bottom: 0;
}


.menu> :first-child {
  margin-top: 0;
}

#shoutbox.title {
  display: flex;
  justify-content: space-between;
}

/* Apply a fade effect to the bottom of the container */
#shoutbox {
  position: relative;
  font-weight: 300;
}
#shoutbox::after {
  content: "";
  position: absolute;
  top: 9.8rem; /* Maximum height 10.8rem - 1rem (height). No bottom: 0; because there may be less rows than the maximum */
  left: 0.1rem;
  width: 100%;
  height: 1em;
  background: linear-gradient(transparent, var(--background));
}

.event .description {
  font-size: .8rem;
  font-weight: 300;
  margin: 0;
}

.event .title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.event .meta {
  font-weight: 300;
  margin: 0;
}

/* Show static splash screen until the first data is loaded */
#splash {
  background: var(--green);
  color: white;
  position: fixed;
  height: 100%;
  width: 100%;
  transition: transform 1s ease-in-out;
  transform: translate3d(0, 0, 0);
  z-index: 100;
  margin: 0;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  
}

h1 {
  margin: 0;
  padding: 1rem;
  text-align: center;
}

body.loaded #splash {
  transform: translate3d(0, -100%, 0);
}

main {
  transition: transform 1s ease-out;
  transform: scale3d(0.9, 0.9, 1);
}

body.loaded main {
  transform: scale3d(1, 1, 1);
}

body:not(.loaded) {
  overflow: hidden;
}

body.loaded #progress-bar {
  opacity: 0;
  transition: clip-path 0.5s linear, opacity 0.7s ease-in;
}

svg#logo {
  height: 8rem;
  width: auto;
  margin-top: 20vh;
}

svg#title {
  height: 4rem;
  width: auto;
  margin-top: 2rem;
}


h1 {
  margin-top: 2rem;
  text-transform: uppercase;
}

#progress-bar {
  opacity: 1;
  --n: 0%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 101;
  width: 100%;
  height: .1rem;
  font-size: 0.75rem;
  background: #fff;
  clip-path: inset(0 calc(100% - var(--n)) 0 0);
  transition: clip-path 10s cubic-bezier(.19,1,.22,1);
}

#error {
  padding: 2em;
}


@keyframes placeHolderShimmer{
  0%{
      background-position: -468px 0
  }
  100%{
      background-position: 468px 0
  }
}

.event .placeholder {
  width: 10rem;
  max-width: 100%;
  position: relative;
  color: transparent;
}

.event .placeholder > div {
  background: #dbd6d0;
  border-radius: 0.2rem;
  width: 100%;
  position: absolute;
  height: 90%;
  width: 100%;
  top: 10%;
  left: 0;
}