img {
    height: 5rem;
    padding: 0 15px;
    object-fit: cover;
}

  
  img:last-of-type {
    padding-left: 0;
  }

  
  .wrapper {
    margin-top: 0.5rem;
    display: flex;
    z-index: 2;
  }
  
  section {
    display: flex;
    animation: swipe var(--speed) linear infinite backwards;
    gap: 1rem;
    overflow: hidden;
    z-index: 0;
  }
  
  @keyframes swipe {
    0% {
      transform: translate(0);
    }
  
    100% {
      transform: translate(-100%);
    }
  }
