header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  color: white;
  margin: 0 10px;
}

header * {
  margin: auto;
  font-size: 2em;
  margin-left: 0;
  margin-right: 0;
}

#time-date {
  font-size: 1em;
}

#time-date * {
  font-size: 2em;
}

#time-clock {
  font-size: 5em;
}

#sponsor-logos * {
  height: 1em;
}

.animate-fade-out {
  animation-name: fade-out-keyframes;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}

.animate-fade-in {
  animation-name: fade-in-keyframes;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}

@keyframes fade-out-keyframes {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fade-in-keyframes {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media only screen and (max-width:1125px) {
  #time-date { 
    font-size: 0.6em
  }
  #time-clock {
    font-size: 3em;
  }

  #sponsor-logos * {
    height: 0.6em;
  }
}

@media only screen and (max-width:700px) {
  header {
    grid-template-rows: 4rem 4rem 4rem;
    grid-template-columns: 1fr;
  }
}
