header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 8em;
  background-color: #282c34;
  color: white;
}

header * {
  margin: auto;
  font-size: 2em;
}

#time-date {
  font-size: 1em;
}

#time-date * {
  font-size: 2em;
}

#time-clock {
  font-size: 5em;
}
