.App {
  text-align: center;
  width: 100%;
  overflow: hidden;
}

.content-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

body {
  color: #333333;
  background-color: #F4EEE7;
  padding-top: 10px;
  font-family: 'Open Sans';
}
.courses {
  max-width: 100%;
  text-align: left;
  font-size: 1.8em;
}
.courses:before {
  content: '';
  height: calc(100% - 24px);
  width: 1px;

  position: absolute;
  left: -10px;
  top: 14px;

  background-color: #5e8c64;
}
#subway-courses {
  padding-top: 16px;
}

#subway-courses:before {
  content: '';
  height: calc(100% - 10px);
  width: 5px;

  position: absolute;
  left: -10px;
  top: 14px;

  background-color: white;
}
.food-menu {
  text-align: left;
  display: flex;
  justify-content: space-around;
  margin: 1em;
}

.restaurant {
  margin-bottom: 0.3rem;
  margin-top: 0.8rem;
  text-transform: uppercase;
  color: #5e8c64;
}
.restaurant-title {
  text-align: left;
  width: 100%;
  font-size: 1.5em;
}

.foodCodes {
  font-weight: 800;
  font-size: 1em;
  margin-left: 5px;
  color: #5e8c64;
  vertical-align: middle;
}

#menu-title {
  margin-left: 33%;
  font-size: 1.2em;
  margin-bottom: 0.5rem;
  letter-spacing: 0.2rem;
}
h1 {
  color: #5e8c64;
}

.eventContainer {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.eventTime {
  margin-bottom: 0;
  text-transform: uppercase;
  font-size: 16px;
}

.eventTitle {
  margin-top: 0;
}

h1 {
  font-size: 2em;
}

.events,
#shouts {
  margin: 0 auto;
  max-width: 500px;
  border: 3px #5e8c64;
  border-style: none none none solid;
  padding: 1em;
  margin: 1em;
  width: 25vw;
  text-align: left;
  font-size: 1.2em;
}

.countdown > h1,
.events > h1 {
  text-transform: uppercase;
  margin-bottom: 0.5rem;
  letter-spacing: 0.2rem;
}

.countNumbers {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  border: 2px #8bc34a solid;
  margin: 0 20px 0px;
  padding: 5px 0 15px;
  font-size: min(3.5vw, 1em);
}

.countbox {
  float: left;
  padding: 5px min(2vw, 10px);
  margin: 0 5px;
  width: 75px;
}

.countbox span {
  font-size: 3em;
  margin-bottom: 0;
  font-weight: bold;
}

#shouts > h1 {
  margin: 0px;
  margin-top: 20px;
  color: #5e8c64;
  letter-spacing: 0.2rem;
}
#shouts > h4 {
  margin: 0;
  margin-bottom: 1rem;
}
#shouts > div {
  font-size: 1.2rem;
}

@media only screen and (max-width: 1000px) {


  .food-menu {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
